body {
    font-family: Arial, Helvetica, sans-serif;
}

["name=api_key"] {
    display: none;
}

.alert {
    display: none;
}

.content {
    padding: 10px;
    overflow: hidden;
}

.query_id {
    display: none;
}

.card-header {
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.form-group {
    vertical-align: middle;
}

.full-height {
    height: 100vh;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.card-span {
    width: 100%;
    background: #ddd;
    display: inline-block;
    padding: 4px 7px;
    border-radius: 4px;
}

.card-span span:nth-child(2) {
    float: right;
}

.card-body {
    padding: 10px;
}

.card {
    margin-bottom: 10px;
}

.table {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background: #eee;
}

.card-body {
    position: relative;
}

.invalid-feedback {
    font-size: 9px;
}

.consult {
    min-height: 650px;
}

td {
    text-align: center;
}

.modal-body p {
    width: 60%;
    margin-right: 0;
}

.fa-truck {
    margin: 0 30px;
}

.header-query {
    padding-bottom: 0px !important;
    font-size: 16px;
    background-color: rgb(148, 173, 221);
}

.body-query {
    padding-top: 0px !important;
    font-size: 12px;
}

.date-query {
    position: absolute;
    font-size: 9px;
    bottom: 0;
    right: 0;
    margin-right: 3px;
    margin-bottom: -2px;
}

.type, .cost, .weight, .width, .height, .length {
    font-weight: bold;
}